@page
@model Web.Pages.Recurso.MisRecursosModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Mis Recursos";
}

<h1>Mis Recursos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Nivel</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recurso in Model.Recursos)
        {
            <tr>
                <td>@recurso.Titulo</td>
                <td>@recurso.Descripcion</td>
                <td>@recurso.TipoRecurso</td>
                <td>
                    @switch (recurso.IDNivel)
                    {
                        case 1:
                            <text>Principiante</text>
                            break;
                        case 2:
                            <text>Medio</text>
                            break;
                        case 3:
                            <text>Avanzado</text>
                            break;
                        default:
                            <text>Desconocido</text>
                            break;
                    }
                </td>
                <td>
                    <a asp-page="/Recurso/ActualizarRecurso" asp-route-IDRecurso="@recurso.ID" class="btn btn-primary">
                        <i class="fas fa-edit">Editar</i>
                    </a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@recurso.ID">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de querer eliminar este recurso?');">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </form>
                </td>
                <td>


                </td>
            </tr>
        }
    </tbody>
</table>
