@page
@model Web.Pages.Noticia.NoticiasModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Noticias";
}

<div class="container mt-5">
    @if (User.IsInRole("1") || User.IsInRole("2"))
    {
        <div class="mb-4 text-right">
            <h2 class="float-left">Noticias ICE CASTLE</h2>
            <a class="btn btn-primary" asp-page="/Noticia/MisNoticias">
                <i class="fas fa-newspaper mr-2"></i>Mis Noticias
            </a>
        </div>
    }
    else
    {
        <div class="py-4 text-center">
            <h2>Noticias ICE Castle</h2>
            <p class="lead">Las últimas actualizaciones de nuestra comunidad</p>
        </div>
    }
    <hr class="my-4">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var noticia in Model.Noticias)
        {
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="@noticia.imagen" class="card-img-top" alt="Imagen de la noticia">
                <div class="card-body">
                    <h5 class="card-title">@noticia.Titulo</h5>
                    <p class="card-text">
                            @TruncateDescription(noticia.Descripcion, 150)@(noticia.Descripcion.Length > 150 ? "..." : "")
                    </p>
                    <p class="card-text"><small class="text-muted">@noticia.FechaPublicacion.ToString("dd/MM/yyyy")</small></p>
                </div>
                    <div class="card-footer bg-white border-top-0">
                        <a asp-page="/Noticia/DetalleNoticia" asp-route-IDNoticia="@noticia.ID" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@functions {
    private string TruncateDescription(string description, int maxLength)
    {
        return description.Length <= maxLength ? description : description.Substring(0, maxLength);
    }
}