@page
@model Web.Pages.Eventos.MisEventosModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Mis Eventos";
}

<h1>Mis Eventos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Duración (horas)</th>
            <th>Ubicación</th>
            <th>Tipo de Evento</th>
            <th>Asistentes</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model.Evento)
        {
            <tr>
                <td>@evento.Titulo</td>
                <td>@evento.Descripcion</td>
                <td>@evento.FechaHoraInicio</td>
                <td>@evento.Duracion</td>
                <td>@evento.Ubicacion</td>
                <td>@evento.TipoEvento</td>
                <td>
                    <a asp-page="/Eventos/EventoAsistentes" asp-route-IDEvento="@evento.ID" class="btn btn-primary">
                        <i class="fas fa-edit">Asistentes</i>
                    </a>
                </td>
                <td>
                    <a asp-page="/Eventos/ActualizarEvento" asp-route-IDEvento="@evento.ID" class="btn btn-primary">
                        <i class="fas fa-edit">Editar</i>
                    </a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@evento.ID">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
